@model ApiToken

@{
    ViewData["Title"] = "ApiToken";
}

<h2>
    @ViewData["Title"]
</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.Id)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.AccessToken)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.RefreshToken)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.TokenType)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.ExpiresAt)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.ExpiresIn)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(x => x.Id)
            </td>
            <td>
                @Html.DisplayFor(x => x.AccessToken)
            </td>
            <td>
                @Html.DisplayFor(x => x.RefreshToken)
            </td>
            <td>
                @Html.DisplayFor(x => x.TokenType)
            </td>
            <td>
                @Html.DisplayFor(x => x.ExpiresAt)
            </td>
            <td>
                @Html.DisplayFor(x => x.ExpiresIn)
            </td>
        </tr>
    </tbody>
</table>

